body{
    margin: 0%;
    padding: 0%;
    background-image: url('background.jpeg');
}

h1{
    padding-left: 20px;
    color: #ffffff;
    font-size: 80px;
    font-family: 'Benguiat';
    text-shadow: 0px 1px 2px black;
}

.box-text{
    padding-left: 6%;
    margin-top: 29vh;
}

.return-button{
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 60px;
    margin-left: 31%;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.return-button:active {
        position:relative;
        top:1px;
        
    }
.return-button:focus{
    outline: none;
}

.return-box{
    padding-left: 200px;
} 

.image{
   position: absolute;
    bottom: 0px;
    right: 0%;
    width: 34%;
}
